.carritoImagen {
    width: 40px;
    right: 5px;
    margin: 5px;
    position: relative;

}

.numeroDeCompras {
    width: 22px;
    height: 22px;
    font-weight: 500;
    font-size: 0.8em;
    color: whitesmoke;
    background-color: gray;
    position: absolute;
    top: 2px;
    padding-top: 1px;
    right: 2px;
    border-radius: 50%;
    text-align: center;

}